---
interface Props {
  title: string;
}

const { title } = Astro.props;

const SITE_DESCRIPTION = "I'm Rinx, a hobbyist developer.";
---

<head>
  <meta charset="UTF-8" />
  <title>{title}</title>
  <meta name="description" content={SITE_DESCRIPTION} />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="generator" content={Astro.generator} />
  <meta name="theme-color" content="#efefef" />
  <meta name="color-scheme" content="dark" />
  <link rel="sitemap" href="/sitemap-index.xml" />
  <!-- OpenGraph Tags -->
  <meta property="og:title" content={title} />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://rinx.dev/" />
  <meta property="og:locale" content="en" />
  <meta property="og:description" content={SITE_DESCRIPTION} />
  <meta property="og:site_name" content={title} />
  <meta property="og:image" content="https://rinx.dev/og.webp" />
  <meta property="og:image:alt" content={SITE_DESCRIPTION} />
  <!-- Twitter Tags -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="sreunaryn" />
  <meta name="twitter:title" content={title} />
  <meta name="twitter:description" content={SITE_DESCRIPTION} />
  <meta name="twitter:image" content="https://rinx.dev/og.webp" />
  <meta name="twitter:image:alt" content={SITE_DESCRIPTION} />
</head>
